
* { -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

/* MAIN CONTAINER */



.my-row {
	position: relative;
}

/* SELF CLEARING FLOATS - CLEARFIX METHOD */
.my-row:after, .my-col:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden; }





/* RESET MARGINS */
.my-col:last-child { margin-right: 0; }
