

#my-body, a {
  margin: 0;
  border: 0;
}

/* SLIDE */

html {
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
    font-family: 'CircularStd-Book';
  background-color: #1C1C1C;
}





#my-header-space {
  height: 50px;
}

#header-outer {
  width: 100%;
  top: 46px;
  left: 0px;
  position: fixed;
  padding: 0 !important;
  background-color: #fff;
  z-index: 9998;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
}

#header-outer[data-permanent-transparent="false"] {
  overflow: visible !important;
}

header#top #logo {
  width: auto;
  max-width: none;
  display: block;
  line-height: 24px;
  font-size: 22px;
  letter-spacing: -1.5px;
  color: #444444;
    font-family: 'CircularStd-Book';
  font-weight: 600;
}

/* retina logo */

header#top #logo:hover {
  color: #27CFC3;
}

header#top #logo img {
  /*max-height: 30px;*/
  text-indent: -9999px;
  max-width: none;
  width: 199px;
  height: auto !important;
  margin-bottom: 0px;
  display: block;
  transition: opacity 0.4s ease;
  padding:40px;
}

header#top {
  position: relative;
  z-index: 9998;
  width: 100%;

}



#header-outer[data-full-width="true"] header>.container {
  width: 100%;
  max-width: 100%;
  padding: 0 28px !important;
}*/

/



.full-width-section.standard_section {
  /*

	-webkit-perspective: 1000;

	-webkit-backface-visibility: hidden;

	*/
}

html:not(.js) .full-width-section {
  visibility: visible;
}


/******** CUSTOM ICONS ********/


.logo-design2 {
  position: absolute;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 675px;
  background: url(../images/logo-design.png) no-repeat 104px 15px;
}






.logo-design {
  position: absolute;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 675px;
  background: url(../images/logo-design.png) no-repeat 104px 0;
}

.logo-design .text {
    position: absolute;
    left: 200px;
   bottom: 153px;
    font: normal 26px/26px 'CircularStd-Book';
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    display: none;
}

h2 {
    line-height: 34px;
    margin-bottom: 10px;
}

.logo-design h2 {

  color: #fff;
}

.logo-design-part {
  background: url(../images/logo-design-part.gif) repeat-y;
  width: 12px;
  height: 124px;
  position: absolute;
  top: 0;
  left: 104px;
  z-index:-4;
  transition: top linear .2s;
}

#logo img {
  position: relative;
  z-index: 20;
}

.home .logo-design {
  top: 0;
}

.home .logo-design .text {
  display: block;
}



#mobile-text {
  display: none;
}

.logo-design-part.hide {
  top: -125px;
}
